# Django
SECRET_KEY='Django secrete key'
DEBUG=bool

# DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# CACHE
REDIS_PORT=6379
REDIS_HOST=0.0.0.0
REDIS_CACHE_LOCATION=1
CACHE_KEY_PREFIX=example
