# Django
SECRET_KEY='Django secrete key'
DEBUG=bool
CSRF_TRUSTED_ORIGINS=http://0.0.0.0:8001/,http://0.0.0.0:8002/
SERVER_PORT=8000
RAPIDOC_PORT=8090

# DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# CACHE
REDIS_PORT=6379
REDIS_HOST=0.0.0.0
REDIS_CACHE_LOCATION=1
CACHE_KEY_PREFIX=example

# Sentry
SENTRY_DSN=

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=passwordexample

# S3 Storage
# DEFAULT_FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage
# DEFAULT_FILE_STORAGE=django.core.files.storage.FileSystemStorage
# S3_BUCKET=
# S3_ACCESS_KEY=
# S3_SECRET_KEY=
